* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url('lock-image.png');
    background-size: cover; /* or contain, or 100% 100% depending on your needs */
    background-position: center; /* or other values as needed */
    /* background-repeat: no-repeat; to avoid repeating the image */
}

nav {
    height: 80px;
    width: 100%;
    align-items: center;  /*cross-axis*/
    background-color: blue;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

.nav-heading {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    margin-left: 50px;
}

h1 {
    font-size: 2.2rem;
    margin: 20px 0 60px 20px;
}

.password-generator-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    height: 300px;
    width: 600px;
    border: 2px solid grey;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(246, 239, 239);
}

form h3 {
    margin: 20px 0 15px 0;
    font-size: 1.3rem;
}

#password-generator-box {
    height: 37px;
    width: 450px;
    padding: 3px;
    margin: 22px 0 10px 0;
    font-size: 1.3rem;
}


#btn-generate {
    height: 43px;
    width: 85px;
    padding: 10px;
    margin: 7px;
    font-size: 1rem;
    color: white;
    background-color: rgb(17, 173, 234);
    border-radius: 3px;
    cursor: pointer;
}

p {
    margin-top: 42px;
}

#link-signUp {
    text-decoration: none;
    color: rgb(19, 179, 203)
}
