* {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-image: url('image.jpg');
  background-size: cover; /* or contain, or 100% 100% depending on your needs */
  background-position: center; /* or other values as needed */
  background-repeat: no-repeat; /* to avoid repeating the image */
  height: 100vh;
}

nav {
  height: 80px;
  width: 100%;
  background-color: blue;
  display: flex;
  justify-content: space-between;
  align-items: center; /*cross-axis*/
}

nav a {
  margin: 50px;
  text-decoration: none;
  color: white;
}
.nav-heading {
  text-decoration: none;
  font-size: 2rem;
  color: white;
}

.login-link {
  font-size: 1.1rem;
  margin-left: 1080px;
}

.container {
  display: flex;
  height: 400px;
  width: 1000px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin: 100px auto 0 auto;
}

h2 {
  margin: 7px 0 23px 0;
}

.section {
  width: 300px;
  margin: 40px 0 40px 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: white;
}

.section p {
  margin: 0 0 20px 0;
}

.section a {
  align-items: end;
  text-decoration: none;
  color: blue;
  margin-right: 20px;
}

a span {
  margin-left: 10px;
}
